{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container h-100 p-5">
        <div class="row h-100">
            <div class="col-12 col-md-6 mx-auto my-auto">
                CONTENT FLOW
            </div>
            <div class="col-12 col-md-6 mx-auto my-auto">
                <h1>The Latest Content</h1>
                <h1>Right Now</h1>
                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary mx-1 mt-4">Sign Up</a>
                <a href="#about" class="btn btn-lg btn-outline-primary mx-1 mt-4">Learn More</a>
                <p class="text-muted mt-3">Already have an account?<a href="{% url 'account_login' %}">Log In.</a></p>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="container">
            <h2 class="text-center mt-3">About</h2>
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <h4>Follow</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum beatae quibusdam repellendus illo
                        ad natus, facilis velit odio ut perspiciatis recusandae non. Qui a autem reprehenderit quidem
                        praesentium cupiditate vero.</p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <h4>Create</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem dicta animi velit, asperiores
                        atque deleniti dolores et consectetur provident, minus quam deserunt error! Fugit, culpa porro!
                        Explicabo error corporis optio?</p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <h4>Reward</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, recusandae mollitia? Cupiditate
                        totam molestiae alias odit officia sequi velit ad, illum, voluptatem corrupti consectetur harum
                        dolor recusandae hic architecto expedita.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary mx-1 mt-4">Sign Up</a>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <a href="#" class="btn btn-lg btn-outline-primary mx-1 mt-4">View Content</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}