{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| Account Settings
{% endblock %}

{% block content %}
    <section id="user-settings">
        <div class="container">
            <h1 class="head-margin">Account Settings</h1>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="text-center">
                                <h3><em>{{ user.username }}</em></h3>
                                <hr>
                                <p>
                                    {% if user.userprofile.image %}
                                        <img class="img-fluid" src="{{ user.userprofile.image.url }}" alt="profile pic">
                                    {% else %}
                                        <img class="img-fluid"
                                            src="https://img.icons8.com/pastel-glyph/300/000000/person-male--v1.png"
                                            alt="no image">
                                    {% endif %}
                                </p>
                            </div>
                            <h5 class="card-text">Token Balance: {{ user.userprofile.tokens_balance }} tokens</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <form method="POST" action="{% url 'user_settings' user.username %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Update account!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="text-center">
                                <a class="btn btn-outline-warning m-2" href="{% url 'withdrawal' %}">Withdraw tokens</a>
                                <a class="btn btn-outline-primary m-2" href="/accounts/password/change/">Change Password</a>
                                <a class="btn btn-outline-danger m-2 " href="#" data-bs-toggle="modal"
                                    data-bs-target="#DeleteAccount">Delete Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/modals/delete-account-modal.html' %}

{% endblock %}