{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| {{ user.username }}
{% endblock %}

{% block content %}
    <section id="main-content">
        <div class="container">
            <h1 class="head-margin">{{ user.username }}'s profile</h1>
            <hr>
            <div class="row">
                <div class="d-md-none col-12">
                    <div class="card mb-3">
                        <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">{{ user.username }}</p>
                            <p class="card-text">{{ user.userprofile.bio }}</p>
                            {% if user.is_authenticated %}
                                {% if user.id == user_posts.author.id %}
                                    <button class="btn btn-primary">Settings</button>
                                {% else %}
                                    <button class="btn btn-primary">Follow!</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    {% for post in user_posts %}
                        {% include 'includes/divs/post-card.html' %}
                    {% endfor %}
                </div>
                <div class="d-none d-md-block col-12 col-md-4">
                    <div class="card">
                        <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">{{ user.username }}</p>
                            <p class="card-text">{{ user.userprofile.bio }}</p>
                            {% if user.is_authenticated %}
                                {% if user.id == user_posts.author.id %}
                                    <button class="btn btn-primary">Settings</button>
                                {% else %}
                                    <button class="btn btn-primary">Follow!</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}