{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| Payment Cancelled
{% endblock %}

{% block content %}
    <section id="checkout-cancel">
        <div class="container">
            <h1 class="head-margin">Payment Cancelled</h1>
            <hr>
            <div class="row">
                <p>
                    Payment cancelled, please try again <a href="{% url 'tokens' %}">here.</a> If you have any
                    questions, please email <a href="mailto:orders@contentflow.com">orders@contentflow.com</a>.
                </p>
            </div>
        </div>
    </section>

{% endblock %}