<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <h2>Thank you for your order {{ order.name }}.</h2>
    <div class="card mt-4">
        <div class="card-header">
            Order number: <br>
            {{ order.order_number }}
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Date:</td>
                        <td>{{ order.date }}</td>
                    </tr>
                    <tr>
                        <td>User:</td>
                        <td>{{ order.username }}</td>
                    </tr>
                    <tr>
                        <td>Name on card:</td>
                        <td>{{ order.card_name }}</td>
                    </tr>
                    <tr>
                        <td>Order email:</td>
                        <td>{{ order.email }}</td>
                    </tr>
                    <tr>
                        <td>Tokens:</td>
                        <td>{{ order.tokens }}</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>&euro;{{ order.order_total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>