<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>

<body>
    <h2>Thank you for your order {{ order.card_name }}.</h2>
    <div>
        <div>
            Order number: <br>
            <strong>{{ order.order_number }}</strong>
        </div>
        <br>
        <div>
            <table cellpadding="10"style="border-collapse:collapse" border="1">
                <tbody>
                    <tr>
                        <td>Date:</td>
                        <td>{{ order.date }}</td>
                    </tr>
                    <tr>
                        <td>User:</td>
                        <td>{{ order.username }}</td>
                    </tr>
                    <tr>
                        <td>Name on card:</td>
                        <td>{{ order.card_name }}</td>
                    </tr>
                    <tr>
                        <td>Order email:</td>
                        <td>{{ order.email }}</td>
                    </tr>
                    <tr>
                        <td>Tokens:</td>
                        <td>{{ order.tokens }}</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>&euro;{{ order.order_total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>