{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| Payment Success
{% endblock %}

{% block content %}
    <section id="checkout-success">
        <div class="container">
            <h1 class="head-margin">Payment Success</h1>
            <hr>
            <div class="row">
                <p class="my-2">
                    Thank you for your order. A confirmation email will be sent to <strong>{{ order.email }}</strong>.
                </p>
                <div class="col-12 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                          Order number: <br>
                          {{ order.order_number }}
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Date:</td>
                                        <td>{{ order.date }}</td>
                                    </tr>
                                    <tr>
                                        <td>User:</td>
                                        <td>{{ order.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name on card:</td>
                                        <td>{{ order.card_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Order email:</td>
                                        <td>{{ order.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Tokens:</td>
                                        <td>{{ order.tokens }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td>&euro;{{ order.order_total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}