{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| Buy Tokens
{% endblock %}

{% block content %}
    <section id="post-content">
        <div class="container">
            <h1 class="head-margin text-center">Buy Tokens</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6 mx-auto text-center p-4 m-4">
                    <h4>Purchase tokens to reward users for posting quality content. Tokens can be
                        withdrawn as cash so you can make a bit of cash on the side by keeping people entertained.</h4>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-lg-4 text-center p-4">
                        <div class="card text-center" style="width: 100%;">
                            <div class="card-body">
                                <img src="{{ product.icon_url }}" alt="{{ product.name }}"/>
                                <h5 class="card-title mb-4">{{ product.name }}</h5>
                                <a href="{% url 'token_checkout' %}" ></a>
                                <form action="create_checkout_session/{{ product.id }}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary mb-3" id="checkout-button">&euro;{{ product.display_price }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}


