<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdrawal Confirmation</title>
</head>

<body>
    <h2>Hi {{ withdrawal.account_name }}, your withdrawal is being processed.</h2>
    <h3>The funds should arrive in the account provided within 3 business days.</h3>
    <div>
        <div>
            Withdrawal Order Number: <br>
            <strong>{{ withdrawal.order_number }}</strong>
        </div>
        <br>
        <div>
            <table cellpadding="10"style="border-collapse:collapse" border="1">
                <tbody>
                    <tr>
                        <td>Date:</td>
                        <td>{{ withdrawal.date }}</td>
                    </tr>
                    <tr>
                        <td>User:</td>
                        <td>{{ withdrawal.username }}</td>
                    </tr>
                    <tr>
                        <td>Account name:</td>
                        <td>{{ withdrawal.account_name }}</td>
                    </tr>
                    <tr>
                        <td>IBAN</td>
                        <td>{{ withdrawal.iban }}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{ withdrawal.email }}</td>
                    </tr>
                    <tr>
                        <td>Tokens:</td>
                        <td>{{ withdrawal.tokens }}</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>&euro;{{ withdrawal.withdrawal_total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>