{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'tokens/css/checkout.css' %}">
{% endblock %}

{% block extratitle %}
| Withdrawal
{% endblock %}

{% block content %}
    <section id="checkout">
        <div class="container">
            <h1 class="head-margin text-center">Withdrawal</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-lg-6 mx-auto align-self-center text-center p-4">
                    <div class="card p-3 text-center">
                        <form action="{% url 'withdrawal' %}" id="withdrawal-form" method="POST">
                            <div class="h5 mb-4">Current Balance: {{ user.userprofile.tokens_balance }} tokens</div>
                            {% csrf_token %}
                            <div class="m-2 checkout-input form-floating w-100 mx-auto">
                                <input type="number" name="tokens" class="form-control" required id="tokens"
                                    placeholder="Tokens" min="1000" max="{{ user.userprofile.tokens_balance }}">
                                <label for="tokens">Token amount</label>
                            </div>
                            <div class="m-2 checkout-input form-floating w-100 mx-auto">
                                <input type="text" name="iban" class="form-control" required
                                    id="iban" placeholder="Bank IBAN" value="IE12 BOFI 9000 0112 3456 78" readonly>
                                <label for="iban">Bank Account IBAN</label>
                            </div>
                            <div class="m-2 checkout-input form-floating w-100 mx-auto">
                                <input type="text" name="account_name" class="form-control" required id="account_name"
                                    placeholder="Name on card">
                                <label for="account_name">Name on account</label>
                            </div>
                            <div class="m-2 checkout-input form-floating w-100 mx-auto">
                                <input type="email" name="email" class="form-control" required id="email" placeholder="Email">
                                <label for="email">Email</label>
                            </div>
                            <div class="m-2 checkout-input form-floating w-100 mx-auto">
                                <input type="text" name="withdrawal_total" class="form-control" required
                                    id="withdrawal_total" hidden>
                            </div>
                            <div class="h5 my-3">Cash amount: &euro;<span id="cash">0</span></div>
                            <div class="m-4 text-center" id="submit-button">
                                <button type="submit" class="btn btn-primary">Withdraw</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="loading-overlay">
            <p id="loading-spinner">
                <span class="icon">
                    <i class="text-light fas fa-3x fa-spinner fa-spin"></i>
                </span>
            </p>
        </div>
    </section>
{% endblock %}

{% block postload_js %}
    <script src="{% static 'tokens/js/withdrawal.js' %}"></script>
{% endblock %}