<div class="card">
    {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}" class="card-img-top" />
    {% else %}
        <img src="https://img.icons8.com/pastel-glyph/300/000000/person-male--v1.png" class="card-img-top" />
    {% endif %}
    <div class="card-body">
        <p class="card-text"><a href="{% url 'user_profile' user.username %}">{{ user.username }}</a></p>
        <p class="card-text">{{ user.userprofile.bio }}</p>
        <div class="text-center">
            <a href="{% url 'user_settings' user.username %}" class="btn btn-primary">Settings</a>
        </div>
    </div>
</div>