<div class="card mb-3">
    <div class="row g-0">
        <div class="card-header">
            <h5 class="card-title my-2">
                <a href="{% url 'post_detail' post.pk %}" class="text-decoration-none text-dark">{{ post.title }}</a> 
                <span class="float-end"><i class="far fa-thumbs-up like-icon"></i> {{ post.like_count }}</span>
            </h5>
        </div>
        {% if post.image %}
            <div class="col-12">
                <a href="{% url 'post_detail' post.pk %}">
                    <img src="{{ post.image.url }}" class="img-fluid p-3" alt="{{ post.title }}">
                </a>
            </div>
        {% endif %}
        <div class="col-12">
            <div class="card-body">
                <a href="{% url 'user_profile' post.author %}"
                    class="text-decoration-none hover p-1">{{ post.author }}</a> |
                <a href="{% url 'category' post.category %}"
                    class="text-decoration-none hover p-1">{{ post.category }}</a>
                <span class="float-end"><small class="text-muted">{{ post.post_date.date }}</small></span>
                {% if post.body|length < 150 %}
                    <p class="card-text mt-4 px-2">{{ post.body|safe }}</p>
                {% else %}
                    <p class="card-text mt-4">{{ post.body|slice:"150"|safe }}....</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>