<div class="card mb-3">
    <div class="row g-0">
        {% if post.image %}
            <div class="col-md-4">
                <a href="{% url 'post_detail' post.pk %}">
                    <img src="{{ post.image.url }}" class="img-fluid p-3" />
                </a>
            </div>
            <div class="col-md-8">
        {% else %}
            <div class="col-12">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> - 
                    <a href="{% url 'user_profile' post.author %}">{{ post.author }}</a>
                    <span class="float-end">{{ post.like_count }} Likes</span>
                </h5>
                <a href="{% url 'category' post.category %}" class="card-text">{{ post.category }}</a>
                {% if post.body|length < 150 %}
                    <p class="card-text mt-4">{{ post.body }}</p>
                {% else %}
                    <p class="card-text mt-4">{{ post.body|slice:"150" }}....</p>
                {% endif %}
                <p class="card-text"><small class="text-muted">{{ post.post_date }}</small></p>
            </div>
        </div>
    </div>
</div>