{% if author.userprofile.image %}
    <img src="{{ author.userprofile.image.url }}" class="card-img-top" alt="profile pic">
{% else %}
    <img src="https://img.icons8.com/pastel-glyph/300/000000/person-male--v1.png" class="card-img-top" alt="no image">
{% endif %}
<div class="card-body">
    <p class="card-text">{{ author.username }}</p>
    <p class="card-text">
        {{ user_followers }} Followers
        <span class="float-end">Score : {{ author.userprofile.tokens_score }}</span>
    </p>
    <p class="card-text">{{ author.userprofile.bio }}</p>
    {% if user.is_authenticated %}
        <div class="text-center">
            {% if user.id == author.id %}
                <a href="{% url 'user_settings' user.username %}" class="btn btn-primary">Settings</a>
            {% else %}
                <form action="{% url 'follow_user' author.username %}" method="POST">
                    {% csrf_token %}
                    {% if user_followed %}
                        <button type="submit" name="username" value="{{ author.username }}"
                            class="btn btn-outline-primary btn-sm">Unfollow</button>
                    {% else %}
                        <button type="submit" name="username" value="{{ author.username }}"
                            class="btn btn-primary btn-sm">Follow!</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    {% endif %}
</div>