.card-header,
.content-flow-card,
.sort-btn-card {
    background-color: #E6F2FF;
}

.hover:hover {
    background-color: #E6E6E6 !important;
}

.django-ckeditor-widget {
    width: 100%;
}

.like-icon {
    color: #007BFF;
    font-size: 1.4rem;
}

.like-button {
    border: 0;
    background: none;
}

.profile-pic {
    max-height: 400px !important;
    border-radius: 10px;
}

/*------------------------- Media Queries */
@media screen and (max-width: 380px) {
    .sort-btn i {
        display: none;
    }
    .sort-btn {
        width: 5.8rem !important;
    }
  }

@media screen and (min-width: 380px) and (max-width: 992px) {
    .sort-btn {
        width: 7.1rem !important;
    }
  }
