.card-header,
.content-flow-card,
.sort-btn-card {
    background-color: #E6F2FF;
}

.hover:hover {
    background-color: #e6e6e6 !important;
}

@media screen and (max-width: 992px) {
    .sort-btn {
        width: 6rem !important;
    }
  }