{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="head-margin text-center">{% trans "Sign In" %}</h1>
        <hr class="mb-5">

        <!-- Display form errors - https://stackoverflow.com/questions/39183479/django-all-auth-form-errors-not-displaying -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <p class="text-danger text-center">{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <p class="text-danger text-center">{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-container mx-auto">
            <form class="signup px-3" id="signup_form" method="post" action="/accounts/login/">
                {% csrf_token %}
                <div class="mb-3 form-floating">
                    <input type="text" name="login" class="form-control" id="id_login" placeholder="Userame or Email"
                        required>
                    <label for="id_login">Username or Email</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password"
                        required>
                    <label for="id_password">Password</label>
                </div>
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="m-3 text-center">
                    <button type="submit" class="btn btn-primary">Log In!</button>
                </div>
            </form>
        </div>

        <p class="mt-4 text-center">{% blocktrans %}New here?<a href="{{ signup_url }}"> Sign
                up.</a>{% endblocktrans %}
        </p>

    </div>

{% endblock %}
