{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="head-margin text-center">{% trans "Sign Out" %}</h1>
        <hr class="mb-5">

        <p class="text-center mb-4">{% trans 'Are you sure you want to log out?' %}</p>

        <form method="POST" action="/accounts/logout/">
            {% csrf_token %}
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary mx-auto">Log Out</button>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
        </form>
    </div>

{% endblock %}
