{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="head-margin text-center">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <hr class="mb-5">

        <!-- Display form errors - https://stackoverflow.com/questions/39183479/django-all-auth-form-errors-not-displaying -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <p class="text-danger text-center">{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <p class="text-danger text-center">{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-container mx-auto">
            <form method="POST" action="/accounts/password/reset/" class="password_reset">
                {% csrf_token %}
                <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <div class="mb-4 form-floating">
                    <input type="email" name="email" class="form-control" placeholder="E-mail address" required id="id_email">
                    <label for="id_email">E-mail</label> 
                </div>
                <div class="mb-4 text-center">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}
