{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="head-margin text-center">{% trans "Change Password" %}</h1>
        <hr class="mb-5">

        <!-- Display form errors - https://stackoverflow.com/questions/39183479/django-all-auth-form-errors-not-displaying -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        <p class="text-danger text-center">{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <p class="text-danger text-center">{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-container mx-auto">
            <form class="password_change px-3" id="password_change" method="post" action="/accounts/password/change/">
                {% csrf_token %}
                <div class="mb-4 form-floating">
                    <input type="password" name="oldpassword" class="form-control" autofocus="autofocus" minlength="6"
                        maxlength="150" required id="id_oldpassword" placeholder="Current Password">
                    <label for="id_oldpassword">Current Password</label>
                </div>
                <div class="mb-4 form-floating">
                    <input type="password" name="password1" class="form-control" required id="id_password1"
                        placeholder="New Password">
                    <label for="id_password1">New Password</label>
                </div>
                <div class="mb-4 form-floating">
                    <input type="password" name="password2" class="form-control" required id="id_password2"
                        placeholder="Repeat New Password">
                    <label for="id_password2">Repeat New Password</label>
                </div>
                <div class="m-3 text-center">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}
