<!-- Bootstrap Logout Modal -->
<div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to log out?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/accounts/logout/">
                    {% csrf_token %}
                    <div class="mb-3 text-center">
                        <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary mx-auto m-2">Log Out</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>