{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| Add Post
{% endblock %}

{% block content %}
    <section id="post-content">
        <div class="container">
            <h1 class="mt-4">Add Post</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Post!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">
                          Categories
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Category 1</li>
                          <li class="list-group-item">Category 2</li>
                          <li class="list-group-item">Category 3</li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}