{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| {{ category }}
{% endblock %}

{% block content %}
    <section id="main-content">
        <div class="container">
            <h1 class="head-margin">{{ category }}</h1>
            <hr>
            {% if posts_in_category %}
                <div class="row">
                    <div class="col-12 col-md-8">
                        {% for post in posts_in_category %}
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" class="img-fluid p-3"/>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a><small> - {{ post.author }}</small></h5>
                                            <p class="card-text">{{ post.body }}</p>
                                            <p class="card-text"><small class="text-muted">{{ post.post_date }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                            <div class="card-body">
                                <h4>{{ category }}</h4>
                                <p>{{ category.follower_count }} followers</p>
                                <p class="card-text">{{ category.description }}</p>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'follow_category' cat %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="category_name" value="{{ cat }}" class="btn btn-primary btn-sm">Follow!</button>
                                    </form>                                    
                                {% endif %}
                            </div>
                        </div>
                        {% include 'includes/divs/category-menu.html' %}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    {% if category %}
                        <div class="col-12 col-md-8 mt-4">
                            <h2 class="mt-3">Sorry, we can't find any posts in this catergory.</h2>
                            <p>Add a new post <a href="{% url 'add_post' %}">here.</a></p>
                        </div>
                    {% else %}
                        <div class="col-12 col-md-8 mt-4">
                            <h2 class="mt-3">Sorry, we can't find the catergory you're looking for.</h2>
                            <p>Add a new category <a href="{% url 'add_category' %}">here.</a></p>
                        </div>
                    {% endif %}
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                            <div class="card-body">
                                <h4>{{ category }}</h4>
                                <p>{{ category.follower_count }} followers</p>
                                <p class="card-text">{{ category.description }}</p>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'follow_category' cat %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" name="category_name" value="{{ cat }}" class="btn btn-primary btn-sm">Follow!</button>
                                    </form>                                    
                                {% endif %}
                            </div>
                        </div>
                        {% include 'includes/divs/category-menu.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}