{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| Edit Post
{% endblock %}

{% block content %}
    <section id="edit-post">
        <div class="container">
            <h1 class="head-margin">Edit Post</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form|crispy }}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-3">Update!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-12 col-md-4">
                    {% include 'includes/divs/current-user-card.html' %}
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}