{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| All Posts
{% endblock %}

{% block content %}
    <section id="main-content">
        <div class="container">
            {% if query %}
                <h1 class="head-margin">Search results for <em>"{{ query }}"</em></h1>
                <a href="{% url 'posts' %}">Clear search</a>
            {% else %}
                <h1 class="head-margin">All Posts</h1>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3 bg-light">
                        <div class="card-body mx-auto">
                            {% if query %}
                                <a href="{% url 'posts' %}?q={{ query }}" class="btn btn-light new-btn">New</a>
                                <a href="{% url 'posts' %}?sort=likes&q={{ query }}" class="btn btn-light top-btn">Top</a>
                            {% else %}
                                <a href="{% url 'posts' %}" class="btn btn-light new-btn">New</a>
                                <a href="{% url 'posts' %}?sort=likes" class="btn btn-light top-btn">Top</a>
                            {% endif %}
                            <a href="{% url 'add_post' %}" class="btn btn-primary">Add Post</a>
                        </div>
                    </div>
                    {% if object_list %}
                        {% for post in object_list %}
                            {% include 'includes/divs/post-card.html' %}
                        {% endfor %}
                    {% else %}
                        {% if query %}
                            {% if query|length > 0 %}
                                <h4 class="mt-4">No results found for <em>"{{ query }}"</em>.</h5>
                            {% endif %}
                        {% else %}
                            <h4 class="mt-4">Please enter search criteria.</h5>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="d-none d-md-block col-12 col-md-4">
                    <div class="card content-flow-card bg-light">
                        <div class="card-body">
                            <h3 class="card-text">Content Flow</h3>
                        </div>
                    </div>
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block postload_js %}
    <script src="{% static 'posts/js/posts.js' %}"></script>
{% endblock %}