{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| All Posts
{% endblock %}

{% block content %}
    <section id="main-content">
        <div class="container">
            {% if query %}
                <h1 class="head-margin">Search results for <em>"{{ query }}"</em></h1>
                <a href="{% url 'posts' %}">Clear search</a>
            {% else %}
                <h1 class="head-margin">All Posts</h1>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3">
                        <div class="card-body mx-auto">
                            {% if query %}
                                <a href="{% url 'posts' %}?q={{ query }}" class="btn btn-light">New</a>
                                <a href="{% url 'posts' %}?sort=likes&q={{ query }}" class="btn btn-light">Top</a>
                            {% else %}
                                <a href="{% url 'posts' %}" class="btn btn-light">New</a>
                                <a href="{% url 'posts' %}?sort=likes" class="btn btn-light">Top</a>
                            {% endif %}
                            <a href="{% url 'add_post' %}" class="btn btn-primary">Add Post</a>
                        </div>
                    </div>
                    {% if object_list %}
                        {% for post in object_list %}
                            {% include 'includes/divs/post-card.html' %}
                        {% endfor %}
                    {% else %}
                        {% if query %}
                            {% if query|length > 0 %}
                                <h4 class="mt-4">No results found for <em>"{{ query }}"</em>.</h5>
                            {% endif %}
                        {% else %}
                            <h4 class="mt-4">Please enter search criteria.</h5>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="d-none d-md-block col-12 col-md-4">
                    <div class="card">
                        <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}