{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
    | {{ post.title }}
{% endblock %}

{% block content %}
    <section id="post-content">
        <div class="container">
            <h1 class="head-margin">{{ post.title }}</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'user_profile' post.author %}">{{ post.author }}</a> |
                                <span class="small"><a href="{% url 'category' post.category %}">{{ post.category }}</a></span>
                                <span class="float-end mx-2">{{ total_likes }} Likes</span>
                                <span class="small float-end ml-4">
                                    {% if user.is_authenticated %}
                                        <form action="{% url 'like_post' post.pk %}" method="POST">
                                            {% csrf_token %}
                                            {% if post_liked %}
                                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn-outline-primary rounded-pill">Unlike</button>
                                            {% else %}
                                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn-primary rounded-pill">Like</button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </span>
                            </h4>
                            <p class="card-text my-4">{{ post.body }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
                            {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <a href="{% url 'edit_post' post.pk %}">Edit</a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h4 class="m-4">
                            Comments
                            {% if user.is_authenticated %}
                                <span class="float-end"><a href="{% url 'add_comment' post.pk %}" class="small">Add a comment...</a></span>
                            {% endif %}
                        </h4>
                        {% if post.comments.all %}
                            <div class="list-group">
                                {% for comment in post.comments.all %}
                                    <div class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5><a href="{% url 'user_profile' comment.author %}" class="mb-1">{{ comment.author }}</a></h5>
                                            <small class="text-muted">{{ comment.comment_date }}</small>
                                        </div>
                                        <p class="my-4">{{ comment.body }}</p>
                                        <form action="{% url 'like_comment' comment.pk %}" method="POST">
                                            {% csrf_token %}
                                            {% if user.is_authenticated %}
                                                <button type="submit" name="comment_id" value="{{ comment.id }}" class="btn-primary rounded-pill">Like</button>
                                            {% endif %}
                                            <span class="mx-2">{{ comment.like_count }} Likes</span>
                                        </form>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <hr>
                            <h5 class="m-4">No comments yet....</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="d-none d-md-block col-12 col-md-4">
                    <div class="card">
                        {% if post.author.userprofile.image %}
                            <img src="{{ post.author.userprofile.image.url }}" class="card-img-top" />
                        {% else %}
                            <img src="https://img.icons8.com/office/200/000000/test-account.png" class="card-img-top" />
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text"><a href="{% url 'user_profile' post.author %}">{{ post.author }}</a></p>
                            <p class="card-text">{{ user_followers }} Followers</a></p>
                            {% if post.author.userprofile.bio %}
                                <p class="card-text">{{ post.author.userprofile.bio }}</p>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div class="text-center">
                                    {% if user.id == post.author.id %}
                                        <button class="btn btn-primary">Settings</button>
                                    {% else %}
                                        <form action="{% url 'follow_user' post.author.username %}?next={{ request.path }}" method="POST">
                                            {% csrf_token %}
                                            {% if user_followed %}
                                                <button type="submit" name="username" value="{{ post.author.username }}"
                                                    class="btn btn-outline-primary btn-sm">Unfollow</button>
                                            {% else %}
                                                <button type="submit" name="username" value="{{ post.author.username }}"
                                                    class="btn btn-primary btn-sm">Follow!</button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/modals/delete-modal.html' %}

{% endblock %}