{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
    | {{ post.title }}
{% endblock %}

{% block content %}
    <section id="post-content">
        <div class="container">
            <h1 class="head-margin">{{ post.title }}</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3">
                        {% if post.image %}
                            <a href="{{ post.image.url }}" target="_blank">
                                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'user_profile' post.author %}"
                                    class="text-decoration-none p-1 hover">{{ post.author }}</a> |
                                <span class="small"><a href="{% url 'category' post.category %}"
                                        class="text-decoration-none p-1 hover">{{ post.category }}</a>
                                </span>
                            </h4>
                            <p class="card-text my-4">{{ post.body|safe }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.post_date }}</small></p>
                            {% if user.is_authenticated %}
                                {% if user.is_superuser or user.id == post.author.id %}
                                    <a href="{% url 'edit_post' post.pk %}" class="p-1 hover">Edit</a> |
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#DeleteModal" class="text-danger p-1 hover">Delete</a>
                                {% endif %}
                            {% endif %}
                            <span class="float-end mx-2 p-1 border-primary"><i class="far fa-thumbs-up like-icon"></i> {{ total_likes }}</span>
                            {% if user.is_authenticated %}
                                {% if user.id != post.author.id %}
                                    <span class="float-middle">
                                        <button class="btn-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#RewardModal">
                                            Reward
                                        </button>
                                    </span>
                                {% endif %}
                                <span class="float-end ml-4">
                                    <form action="{% url 'like_post' post.pk %}" method="POST">
                                        {% csrf_token %}
                                        {% if post_liked %}
                                            <button type="submit" name="post_id" value="{{ post.id }}"
                                                class="btn-outline-primary rounded-pill">Unlike</button>
                                        {% else %}
                                            <button type="submit" name="post_id" value="{{ post.id }}"
                                                class="btn-primary rounded-pill">Like</button>
                                        {% endif %}
                                    </form>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header p-0">
                            <h4 class="m-4">
                                Comments
                                {% if user.is_authenticated %}
                                    <span class="float-end small"><a href="{% url 'add_comment' post.pk %}"
                                            class="p-1 hover small text-muted">Add a comment...</a></span>
                                {% endif %}
                            </h4>
                        </div>
                        {% if comments %}
                            <div class="list-group">
                                {% for comment in comments %}
                                    <div class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between mt-2">
                                            <h5><a href="{% url 'user_profile' comment.author %}" class="p-1 hover">{{ comment.author }}</a></h5>
                                            <small class="text-muted">{{ comment.comment_date }}</small>
                                        </div>
                                        <p class="my-4 p-2">{{ comment.body }}</p>
                                        <form action="{% url 'like_comment' comment.pk %}" method="POST">
                                            {% if user.is_superuser or user.id == comment.author.id %}
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#DeleteComment{{ comment.id }}"
                                                    class="text-danger p-1 hover">Delete</a>
                                            {% endif %}
                                            <span class="mx-2 mb-2 float-end pt-1"><i class="far fa-thumbs-up like-icon"></i>{{ comment.like_count }}</span>
                                            {% csrf_token %}
                                            {% if user.is_authenticated %}
                                                {% if user in comment.likes.all %}
                                                    <button type="submit" name="comment_id" value="{{ comment.id }}"
                                                        class="btn-outline-primary rounded-pill float-end">
                                                        Unlike
                                                    </button>
                                                {% else %}
                                                    <button type="submit" name="comment_id" value="{{ comment.id }}"
                                                        class="btn-primary rounded-pill float-end">
                                                        Like
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </form>
                                    </div>
                                    {% include 'includes/modals/delete-comment-modal.html' %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <h5 class="m-4">No comments yet....</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="d-none d-md-block col-12 col-md-4">
                    <div class="card">
                        {% if post.author.userprofile.image %}
                            <img src="{{ post.author.userprofile.image.url }}" class="card-img-top" alt="profile pic">
                        {% else %}
                            <img src="https://img.icons8.com/pastel-glyph/300/000000/person-male--v1.png"
                                class="card-img-top" alt="no image">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text"><a href="{% url 'user_profile' post.author %}">{{ post.author }}</a></p>
                            <p class="card-text">
                                {{ user_followers }} Followers
                                <span class="float-end">Score : {{ post.author.userprofile.tokens_score }}</span>
                            </p>
                            {% if post.author.userprofile.bio %}
                                <p class="card-text">{{ post.author.userprofile.bio }}</p>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <div class="text-center">
                                    {% if user.id == post.author.id %}
                                        <a href="{% url 'user_settings' user.username %}" class="btn btn-primary">
                                            <i class="fas fa-cog"></i> Settings
                                        </a>
                                    {% else %}
                                        <form action="{% url 'follow_user' post.author.username %}?next={{ request.path }}" method="POST">
                                            {% csrf_token %}
                                            {% if user_followed %}
                                                <button type="submit" name="username" value="{{ post.author.username }}"
                                                    class="btn btn-outline-primary btn-sm"><i class="fas fa-minus-circle"></i> Unfollow</button>
                                            {% else %}
                                                <button type="submit" name="username" value="{{ post.author.username }}"
                                                    class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> Follow!</button>
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/modals/delete-modal.html' %}
    {% include 'includes/modals/reward-modal.html' %}

{% endblock %}