{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock %}

{% block extratitle %}
| {{ post.title }}
{% endblock %}

{% block content %}
    <section id="post-content">
        <div class="container">
            <h1 class="head-margin">{{ post.title }}</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card mb-3">
                        <img src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.author }}</h5>
                            <p class="card-text">{{ post.body }}</p>
                            <a href="{% url 'category' post.category %}">{{ post.category }}</a>
                            <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
                            <a href="{% url 'edit_post' post.pk %}">Edit</a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <img src="https://img.icons8.com/color/48/000000/user.png" class="card-img-top" />
                        <div class="card-body">
                            <p class="card-text">{{ post.author }}</p>
                            <button class="btn btn-primary">Follow!</button>
                        </div>
                    </div>
                    {% include 'includes/divs/category-menu.html' %}
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/modals/delete-modal.html' %}

{% endblock %}